:root {
  --soft-black: #2e2b2b;
  --dark-black: #212121;
  --wheat: #e0d6c4;
  --orange-wheat: #f0ab2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
  max-height: 100%;
  background-color: var(--dark-black);
  color: var(--wheat);
  font-size: 16px;
}
